# Local (SQLite fichier)
DATABASE_URL="file:./dev.db"

# Production Vercel (Turso — https://turso.tech)
# DATABASE_URL="libsql://votre-db-nom-org.turso.io"
# DATABASE_AUTH_TOKEN="eyJ..."

AUTH_SECRET="changez-moi-en-production-min-32-caracteres"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
