# Copier vers .env.local et remplir les valeurs (voir commentaires dans .env.local)

DATABASE_URL="postgresql://postgres:MOT_DE_PASSE@db.PROJECT_REF.supabase.co:6543/postgres?pgbouncer=true"
AUTH_SECRET="generer-avec-openssl-rand-base64-32"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
